<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Branch</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Branch</li>
    </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
    <a class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
    <a routerLink="/holiday/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>


    </div>
