.list-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .list-inline-item {
    margin-right: 10px;
  }

.btn-success{
    background-color: rgb(118, 179, 26) !important;
    padding: 3%;
    padding-left : 15%;
    padding-right : 15%;
}
.btn-danger{
    background-color: rgb(238, 27, 19) !important;
    padding: 3%;
    padding-left : 15%;
    padding-right : 15%;
}
  