<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Teachers</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
    <li class="breadcrumb-item active">Add Teachers</li>
    </ul>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form [formGroup]='addTeacherForm' (submit)="onSubmit()">
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span>Basic Details</span></h5>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Teacher CIN<span style="color:red">*</span></label>
    <input type="text" name="cin"  class="form-control is-invalid"
    [ngClass]="{'is-invalid' : cin?.invalid && cin?.touched}"
    formControlName="cin">
    <div class="alert alert-warning mt-1" *ngIf="cin?.invalid && cin?.touched">
       <div *ngIf="cin?.errors?.['required']; else elsecin">
        the cin field is required
       </div>
       <ng-template #elsecin>
        <div *ngIf="cin?.errors?.['pattern']">
            Please enter a valid cin number. It should be 8 digits long and only contain uppercase letters and numbers
        </div>
        </ng-template>
    </div>

    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label> Name<span style="color:red">*</span></label>
    <input type="text" class="form-control"
    [ngClass]="{'is-invalid' : name?.invalid && name?.touched}"
    formControlName="name">
    <div class="alert alert-warning mt-1" *ngIf="name?.invalid && name?.touched" >
        <div *ngIf="name?.errors?.['required']; else elseName">
            the name field is required
           </div>
           <ng-template #elseName>
            <div *ngIf="name?.errors?.['pattern']">
                Please enter your full name using only letters and spaces. It should be between 2 and 50 characters long.
            </div>
        </ng-template>
     </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Gender<span style="color:red">*</span></label>
    <select class="form-control"
    [ngClass]="{'is-invalid' : gender?.invalid && gender?.touched}"
     formControlName="gender">
    <option>Male</option>
    <option>Female</option>
    <option>Others</option>
    </select>
    <div class="alert alert-warning mt-1" *ngIf="gender?.invalid && gender?.touched">
        <div *ngIf="gender?.errors?.['required']">
            the gender field is required
        </div>

    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Date of Birth<span style="color:red">*</span></label>
    <input type="date" formControlName="dob" class="form-control"
    [ngClass]="{'is-invalid' : dob?.invalid && dob?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="dob?.invalid && dob?.touched">

        <div *ngIf="dob?.errors?.['required']">
            the date of birth field is required !
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Mobile<span style="color:red">*</span></label>
    <input type="text" formControlName="mobile"
    class="form-control"
    [ngClass]="{'is-invalid' : mobile?.invalid && mobile?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="mobile?.invalid && mobile?.touched">

        <div *ngIf="mobile?.errors?.['required']; else elseMobile">
            the mobile field is required !
           </div>
           <ng-template #elseMobile>
            <div *ngIf="mobile?.errors?.['pattern']">
                Please enter a valid mobile number
            </div>
        </ng-template>
    </div>
    </div>
    </div>

    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Joining Date<span style="color:red">*</span></label>
    <input type="date" formControlName="JoiningDate"
     class="form-control"
     [ngClass]="{'is-invalid' : JoiningDate?.invalid && JoiningDate?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="JoiningDate?.invalid && JoiningDate?.touched" >

        <div *ngIf="JoiningDate?.errors?.['required']">
            the joigning date field is required !
        </div>

    </div>
    </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="form-group">
           <label>Teacher Image</label>
           <input type="file" class="form-control">
        </div>
     </div>



    <div class="col-12">
    <h5 class="form-title"><span>Login Details</span></h5>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Username<span style="color:red">*</span></label>
    <input type="text" formControlName="userName"
    class="form-control"
    [ngClass]="{'is-invalid' : userName?.invalid && userName?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="userName?.invalid && userName?.touched">

        <div *ngIf="userName?.errors?.['required']; else elseUserName">
            the username field is required !
        </div>
           <ng-template #elseUserName>
            <div *ngIf="userName?.errors?.['pattern']">
                Please enter a valid username using only letters, numbers, underscores, and hyphens. It should be between 3 and 16 characters long
            </div>
        </ng-template>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Email ID<span style="color:red">*</span></label>
    <input type="email" formControlName="email"
    class="form-control"
    [ngClass]="{'is-invalid' : email?.invalid && email?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="email?.invalid && email?.touched">

        <div *ngIf="email?.errors?.['required']; else elseEmail">
            the email field is required !
        </div>
           <ng-template #elseEmail>
            <div *ngIf="email?.errors?.['pattern']">
                Please enter a valid email address. It should be in the format 'example@domain.com'
            </div>
        </ng-template>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Password<span style="color:red">*</span></label>
    <input type="password" formControlName="password"
     class="form-control"
     [ngClass]="{'is-invalid' : password?.invalid && password?.touched && password?.errors?.['required']}"
    >
    <div class="alert alert-warning mt-1" *ngIf="password?.invalid && password?.touched && password?.errors?.['required']">

        <div *ngIf="password?.errors?.['required']">
            the password field is required !
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Repeat Password<span style="color:red">*</span></label>
    <input type="password" formControlName="confirmPassword"
     class="form-control"
     [ngClass]="{'is-invalid' : confirmPassword?.invalid && confirmPassword?.touched}"
    >
    <div class="alert alert-warning mt-1" *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
        <div *ngIf="confirmPassword?.errors?.['required']">
            the repeat password field is required !
        </div>
        <div *ngIf="confirmPassword?.errors?.['passwordMismatch']">
            The passwords do not match.
        </div>
    </div>
    </div>
    </div>

    <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="addTeacherForm.invalid">Submit</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
