<div class="main-wrapper login-body">
    <div class="login-wrapper">
       <div class="container">
          <div class="loginbox">
             <div class="login-left" style="background-color: rgba(28, 29, 30, 0.806);">
                <div style="font-family: 'Pacifico';
                src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
                color:rgb(255, 255, 255);
                font-size: 200%">
                  SMART<br> ENSIAS
                </div>
             </div>
             <div class="login-right">
                <div class="login-right-wrap">
                   <h1>Login</h1>
                   <p class="account-subtitle">Access to our dashboard</p>
                   <form [formGroup]="loginForm" (submit)="submitForm()">
                     <div class="form-group">
                       <input class="form-control" type="text" placeholder="Email" 
                       formControlName="email">
                     </div>
                     <div class="form-group">
                       <input class="form-control" type="text" placeholder="Password"
                        formControlName="password">
                     </div>
                     <div class="form-group">
                       <button class="btn btn-primary btn-block" type="submit">Login</button>
                     </div>
                   </form>
                   
                   <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                   <div class="login-or">
                      <span class="or-line"></span>
                      <span class="span-or">or</span>
                   </div>
                   <div class="social-login">
                      <span>Login with</span>
                      <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a>
                   </div>
                   <div class="text-center dont-have">Registration is only available to existing account holders.</div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>