<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row">
             <div class="col">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Profile</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="profile-header">
                <div class="row align-items-center">
                   <div class="col-auto profile-image">
                      <a href="#">
                      <img class="rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
                      </a>
                   </div>
                   <div class="col ml-md-n2 profile-user-info">
                      <h4 class="user-name mb-0">{{user?.first_name}} {{user?.last_name}}</h4>
                      <h6 class="text-muted">{{user?.role}}</h6>
                      <div class="user-Location"><i class="fas fa-map-marker-alt"></i> Rabat</div>
                      
                   </div>
                  
                </div>
             </div>
             
             <div class="tab-content profile-tab-cont">
                <div class="tab-pane fade show active" id="per_details_tab">
                   <div class="row">
                      <div class="col-lg-9">
                         <div class="card">
                            <div class="card-body">
                               <h5 class="card-title d-flex justify-content-between">
                                  <span>Personal Details</span>
                                  <a *ngIf="user?.role=='STUDENT'" class="edit-link" data-toggle="modal" routerLink="/editStudent/{{user?.cne}}"><i class="far fa-edit mr-1"></i>Edit</a>
                                  <a *ngIf="user?.role=='TEACHER'"  class="edit-link" data-toggle="modal" routerLink="/editTeacher/{{user?.id}}"><i class="far fa-edit mr-1"></i>Edit</a>
                                </h5>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                  <p class="col-sm-9">{{user?.first_name}} {{user?.last_name}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                  <p class="col-sm-9">{{user?.date_of_birth}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                  <p class="col-sm-9">{{user?.email}}</p>
                               </div>
                               <div class="row">
                                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                  <p class="col-sm-9">{{user?.phone}}</p>
                               </div>
                               <div class="row">
                                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Gender</p>
                                <p class="col-sm-9">{{user?.gender || 'unknown'}}</p>
                               </div>
                               
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-3">
                         <div class="card">
                            <div class="card-body">
                               <h5 class="card-title d-flex justify-content-between">
                                  <span>Account Status</span>
                               </h5>
                               <button class="btn btn-success" type="button"><i class="fe fe-check-verified"></i> Active</button>
                            </div>
                         </div>
                         
                      </div>
                   </div>
                </div>
              

             </div>
          </div>
       </div>
    </div>
 </div>