<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Holiday</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="holiday.html">Holiday</a></li>
    <li class="breadcrumb-item active">Add Holiday</li>
    </ul>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form [formGroup]="addHolidayForm" (submit)="onSubmit()">
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span>Holiday Information</span></h5>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Holiday title<span style="color:red">*</span></label>
    <input type="text" title="title"  class="form-control is-invalid"
                          [ngClass]="{'is-invalid' : title?.invalid && title?.touched}"
                          formControlName="title">
                          <div class="alert alert-warning mt-1" *ngIf="title?.invalid && title?.touched">
                             <div *ngIf="title?.errors?.['required']; else elsetitle">
                              the title field is required
                             </div>
                             <ng-template #elsetitle>
                              <div *ngIf="title?.errors?.['minlength']">
                                   It should be at least 8 charcters
                              </div>
                              </ng-template>
                          </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Type of Holiday<span style="color:red">*</span></label>
    <select class="form-control"
    [ngClass]="{'is-invalid' : type?.invalid && type?.touched}"
     formControlName="type">
    <option>Select Holiday</option>
    <option>Public Holiday</option>
    <option>College Holiday</option>
    <option>Exam Holiday</option>
    <option>Others</option>
    </select>
    <div class="alert alert-warning mt-1" *ngIf="type?.invalid && type?.touched">
      <div *ngIf="type?.errors?.['required']">
          the type field is required
      </div>

  </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
      <label>Start date<span style="color:red">*</span></label>
      <input type="date" formControlName="start_date" class="form-control"
      [ngClass]="{'is-invalid' : start_date?.invalid && start_date?.touched}"
      >
      <div class="alert alert-warning mt-1" *ngIf="start_date?.invalid && start_date?.touched">

          <div *ngIf="start_date?.errors?.['required']">
              the start date field is required !
          </div>
      </div>
      </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
        <label>End Date<span style="color:red">*</span></label>
        <input type="date" formControlName="end_date" class="form-control"
        [ngClass]="{'is-invalid' : end_date?.invalid && end_date?.touched}"
        >
        <div class="alert alert-warning mt-1" *ngIf="end_date?.invalid && end_date?.touched">

            <div *ngIf="end_date?.errors?.['required']">
                the end field is required !
            </div>
        </div>
        </div>
        </div>
    <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="addHolidayForm.invalid">Submit</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

