<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Holiday</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Holiday</li>
    </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
    <a (click)="downloadStudents()" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
    <a routerLink="/holiday/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover table-center mb-0 datatable">
    <thead>
    <tr>
    <th>Holiday Title</th>
    <th>Type</th>
    <th>Start Date</th>
    <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let holiday of holidays | searchHolidays:searchService.searchText" >
    <td>
    <h2>
    <a>{{holiday.title}}</a>
    </h2>
    </td>
    <td>{{holiday.type}}</td>
    <td>{{holiday.start_date}}</td>
    <td>{{holiday.end_date}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <footer>
    <p>Copyright © 2023 SMART ENSIAS.</p>
    </footer>

    </div>
