<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div class="content container-fluid">
     <div class="page-header">
        <div class="row align-items-center">
           <div class="col">
              <h3 class="page-title">Add Students</h3>
              <ul class="breadcrumb">
                 <li class="breadcrumb-item"><a href="students.html">Students</a></li>
                 <li class="breadcrumb-item active">Add Students</li>
              </ul>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
           <div class="card">
              <div class="card-body">
                 <form>
                    <div class="row">
                       <div class="col-12">
                          <h5 class="form-title"><span>Student Information</span></h5>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>First Name</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Last Name</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Student Id</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Gender</label>
                             <select class="form-control">
                                <option>Select Gender</option>
                                <option>Female</option>
                                <option>Male</option>
                                <option>Others</option>
                             </select>
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Date of Birth</label>
                             <div>
                                <input type="date" class="form-control">
                             </div>
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Class</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Religion</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Joining Date</label>
                             <div>
                                <input type="date" class="form-control">
                             </div>
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Mobile Number</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Admission Number</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Section</label>
                             <input type="text" class="form-control">
                          </div>
                       </div>
                       <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Student Image</label>
                             <input type="file" class="form-control">
                          </div>
                       </div>
                       <div class="col-12">
                          <button type="submit" class="btn btn-primary">Submit</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
