<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Branch</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="branch.html">Branch</a></li>
    <li class="breadcrumb-item active">Add Branch/li>
    </ul>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form [formGroup]="addBranchForm" (submit)="onSubmit()">
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span>Branch Information</span></h5>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Branch code<span style="color:red">*</span></label>
    <input type="text" class="form-control is-invalid"
                          [ngClass]="{'is-invalid' : code?.invalid && code?.touched}"
                          formControlName="code">
                          <div class="alert alert-warning mt-1" *ngIf="code?.invalid && code?.touched">
                             <div *ngIf="code?.errors?.['required']; else elsecode">
                              the code field is required
                             </div>
                             <ng-template #elsecode>
                              <div *ngIf="code?.errors?.['minlength']">
                                   It should be at least 8 charcters
                              </div>
                              </ng-template>
                          </div>
    </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
      <label>Branch name<span style="color:red">*</span></label>
      <input type="text" class="form-control is-invalid"
                            [ngClass]="{'is-invalid' : name?.invalid && name?.touched}"
                            formControlName="name">
                            <div class="alert alert-warning mt-1" *ngIf="name?.invalid && name?.touched">
                               <div *ngIf="name?.errors?.['required']; else elsename">
                                the name field is required
                               </div>
                               <ng-template #elsename>
                                <div *ngIf="name?.errors?.['minlength']">
                                     It should be at least 8 charcters
                                </div>
                                </ng-template>
                            </div>
      </div>
      </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Description<span style="color:red">*</span></label>
        <textarea name="description" class="form-control is-invalid"
        [ngClass]="{'is-invalid' : description?.invalid && description?.touched}"
        formControlName="description"></textarea>
        <div class="alert alert-warning mt-1" *ngIf="description?.invalid && description?.touched">
           <div *ngIf="description?.errors?.['required']; else elsedescription">
            the description field is required
           </div>
           <ng-template #elsedescription>
            <div *ngIf="description?.errors?.['minlength']">
                 It should be at least 8 characters
            </div>
           </ng-template>
        </div>
     </div>
    </div>

    <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="addBranchForm.invalid">Submit</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

